@using Couple_Employees.ViewModels.Employees
@model IEnumerable<CoupleEmployeesViewModel>


<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        @*<div class="row pt-0 ">
            <div class="col-md probootstrap_border-1 border-dark  rounded align-items-center pb-3">*@

        @*<p class="text-center">EmployeeId#1 | EmployeeId#2 | ProjectId | DaysWorked </p>

            @foreach (var couple in Model)
            {
                <p class="text-center">@couple.FirstEmployeeId | @couple.SecondEmployeeId | @couple.ProjectId | @couple.WorkedDays </p>
            }*@

        <table class="table table-striped table-bordered text-center text-dark">
            <tr>
                <th>EmployeeId#1</th>
                <th>EmployeeId#2</th>
                <th>ProjectId</th>
                <th>Days Worked</th>
            </tr>

            @foreach (var couple in Model)
            {
                <tr>
                    <td>@couple.FirstEmployeeId</td>
                    <td>@couple.SecondEmployeeId</td>
                    <td>@couple.ProjectId</td>
                    <td>@couple.WorkedDays</td>
                </tr>
            }

        </table>
    </div>
</section>



