@using CoupleEmployees.Library.ViewModels.Index
@model ProblemViewModel

<section>
    <div class="overlay"></div>
    <div class="container">
        <div class="row pt-3 ">
            <div class="col-md row probootstrap_border-1 border-dark bg-light rounded align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form method="post" asp-controller="Employees" asp-action="CoupleEmployees" enctype="multipart/form-data" class="form-group">
                        <div class="row row ml-1 mr-1">
                            <div class="col">
                                <label asp-for="@Model.TextFile" class="pt-2"></label>
                                <input asp-for="@Model.TextFile"  />
                                <span asp-validation-for="@Model.TextFile" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="@Model.Format" class="pt-2">Choose a Date format:</label>
                                <select asp-for="@Model.Format" class="form-control">
                                    <option value="yyyy-MM-dd">2020-12-31</option>
                                    <option value="MM-dd-yyyy">12-31-2020</option>
                                    <option value="dd-MM-yyyy">31-12-2020</option>
                                    <option value="M-dd-yyyy">6-31-2020</option>
                                    <option value="MM-d-yyyy">12-1-2020</option>
                                    <option value="M-d-yyyy">1-9-2020</option>
                                    <option value="d-M-yyyy">9-1-2020</option>
                                    <option value="yyyy-MM-d">2020-12-1</option>
                                    <option value="yyyy-M-dd">2020-1-31</option>
                                    <option value="yyyy MMMM">2020 May</option>
                                    <option value="yyyy-MMMM">2020-May</option>
                                    <option value="dddd,dd-MMMM-yyyy">Friday,29-May-2015</option>
                                    <option value="dddd,dd-MM-yyyy">Friday,29-05-2015</option>
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <input type="submit" class="btn btn-warning ml-3 mt-4" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</section>

<section >
    <div class="overlay"></div>
    <div class="container pt-5">

        <p class="font-weight-bold">Valid Date format: </p>
        <p>yyyy-MM-dd: 2020-12-31</p>
        <p>MM-dd-yyyy: 12-31-2020</p>
        <p>dd-MM-yyyy: 31-12-2020</p>
        <p>M-dd-yyyy: 6-31-2020</p>
        <p>MM-d-yyyy: 12-1-2020</p>
        <p>M-d-yyyy: 1-9-2020</p>
        <p>M-d-yyyy: 9-1-2020</p>
        <p>yyyy-MM-d: 2020-12-1</p>
        <p>yyyy-M-dd: 2020-1-31</p>
        <p>yyyy MMMM: 2020 May</p>
        <p>yyyy-MMMM: 2020-May</p>
        <p>dddd,dd-MMMM-yyyy: Friday,29-May-2015</p>
        <p>dddd,dd-MM-yyyy: Friday,29-05-2015</p>

    </div>
</section>

